// Myriad Pro font
@font-face {
  font-family: 'Segoeui';
  src: url('./../fonts/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoeui - Bold';
  src: url('./../fonts/segoeuib.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Segoeui - Italic';
  src: url('./../fonts/segoeuii.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


