// REDEFINITION MAIN BOOTSTRAP STYLES

// FONTS
$font-family-second:          'Gotham Pro Regular', serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       'Century Gothic Regular', sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;

$mainColorPrm: #43B543;
$mainColor: #383838;
$textColor : #4A4A4A;
$transition: .3s;